# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
/*.js

# data definition files
**/*.d.ts

# 3rd party libs
/public/

# custom definition files
.env
.env.development
.env.development.local
.env.production
.env.production.local
